.searchicon {
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(245, 245, 8);
    display: grid;
    place-items: center;
}
.filter{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    h1{
        font-weight: 300;
        font-size: 24px;
    }

    .item{
        display: flex;
        flex-direction: column;
        gap: 2px;
    label{
        font-size: 10px;
    }
    input,select{
        width: 100px;
        padding: 10px;
        border: 1px solid #e0e0e0;
        border-radius: 4px;
    }
    }

    .top{
        input{
            width: 100%;
            padding: 10px;
            border: 1px solid #e0e0e0;
            border-radius: 4px;
        }
    }
    .bottom{
        display: flex;
        justify-content: space-between;
        button{
            width: 80px;
        }
    }
}